/* Grid */

.home-grid-container {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 0;
}

.home-grid-container__title {
    width: 100%;
    color: #406D99;
    margin-bottom: 0;
    font-size: 1.9rem;
}

.home-grid-container__column {
    width: 100%;
    margin: 3rem 3rem 0 3rem;
}


.home-grid-container__column__icon {
    color: #406D99;
    font-size: 2rem;
}

.home-grid-container__column__title {
    text-transform: capitalize;
    text-align: center;
    color: #406D99;
    font-size: 1.5rem;
    margin-top: 1.4rem;
    margin-bottom: 0;
}

.home-grid-container__column__bottomLine {
    color: #53B8D5;
    width: 0.9rem;
}

.home-grid-container__column__text {
    padding: 0 0.3rem;
    color: rgb(83, 83, 83);
    font-size: 1rem;
}

/* Media Responsive */

@media (min-width: 50rem) {
    .home-grid-container__column {
        width: 30%;
    }
}

@media (min-width: 80rem) {
    .home-grid-container__column {
        width: 20%;
    }

    .home-grid-container__title {
        font-size: 2.3rem;
    }

    .home-grid-container__column__text {
        font-size: 1.2rem;
    }
}
