* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    height: 1500px;
}

/* Header  */

header {
    width: 100%;
    margin: auto;    
    vertical-align: middle;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #323233ef;
    display: inline-block;
    z-index: 1;
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    text-align: center;
}

.main-nav__link {
    position: relative;
    color: #D6D6D6;
    font-size: 1.1rem;
    margin: 0 1rem;
    text-decoration: none;
    
}

.main-nav__logo__container {
    position: absolute;
    left: 0;
    margin: 0 1rem;
    text-decoration: none;
    height: auto;
    width: auto;
}

.main-nav__logo {
    height: auto;
    width: 1.1rem;
}

.main-nav__link:hover,
.main-nav__link:active {
    cursor: pointer;
    color: #eeeeee;
}

.banner-container {
    position: relative;
    height: 40vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/3609112/pexels-photo-3609112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
}

.banner-container__title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
}

/* Body  */

.info-container {
    text-align: center;
}

@media (min-width: 50rem) {
    .banner-container {
        height: 60vh;
    }
}


@media (min-width: 81rem) {
    .banner-container {
        height: 80vh;
    }
}