/* Navigation  */

.products-nav {
    position: relative;
}

/* Banner */

.products-banner-container {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem 0;
    background-color:  #FBFBFD;
}

.products-banner-container__title {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.9rem 0.5rem;
    background-color: #F7F7F7;
    margin-bottom: 0;
}

/* Grid  */

.grid-container__column__titleLeft, .grid-container__column__titleRight {
    margin-bottom: 0;
}

.grid-container__column__titleLeft {
    width: 100%;
    float: left;
}

.grid-container__column__titleRight {
    width: 100%;
    float: left;
}

.grid-container__column__subTitle {
    margin-top: 0.5rem;
    color: rgb(83, 83, 83);
}

.clearfix {
    overflow: auto;
}

.grid-container {
    background-color: #FBFBFD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-container__column {
    margin: 1rem 1rem 2rem 1rem;
    height: 70vh;
    width: 70%; 
}

.grid-container__column__bg {
    background-position: center;
    background-size: cover;
    height: 60%;
    width: 100%; 
    text-align: center;
    font-size: 1.8rem;
}

.grid-container__column__bg:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.grid-container__column__body {
    height: auto;
}

/* Responsive Media */

@media (min-width: 50rem) {
    .grid-container__column {
        width: 40%;
    }

    .grid-container__column__bg {
        height: 70%;
    }

    .grid-container__column__titleLeft {
        width: auto;
        float: left;
    }
    
    .grid-container__column__titleRight {
        width: auto;
        float: right;
    }
}


@media (min-width: 80rem) {
    .grid-container__column {
        width: 30%;
    }

    .grid-container__column__bg {
        height: 80%;
    }
}


